# 全局配置
[global]
root = "/opt/services/sentry-config/"
project-name = "sentry"

# 默认参数
[args]
user = "huhu"
listen = 80
debug = true
log_dir = "/mnt/repos/sentry.logs"

# Supervisor
numprocs = 1
stopsignal = "TERM"
env = '''SENTRY_CONF="/opt/services/sentry-config"'''

# Cache config
cache_redis_host = "127.0.0.1"
cache_redis_port = 6379
cache_redis_db = 10

[files."deploy/nginx/sentry.conf"]
    server_name = "sentry.huhulab.com"
    server_proxy_pass = ""

[files."deploy/supervisor/supervisord.conf"]
    directory = "/mnt/repos/sentry"
    log_directory = "/mnt/repos/sentry"

[files."deploy/supervisor/programs/sentry_web.conf"]
    program = "sentry_web"
    directory = "/opt/services/sentry-config"
    command = "sentry start"
    logfile = "/mnt/repos/sentry/logs/supervisor-sentry-web.log"

[files."deploy/supervisor/programs/sentry_worker.conf"]
    program = "sentry_worker"
    directory = "/opt/services/sentry-config"
    command = "sentry run worker"
    logfile = "/mnt/repos/sentry/logs/supervisor-sentry-worker.log"

[files."deploy/supervisor/programs/sentry_cron.conf"]
    program = "sentry_cron"
    directory = "/opt/services/sentry-config"
    command = "sentry run cron"
    logfile = "/mnt/repos/sentry/logs/supervisor-sentry-cron.log"

[files."config.yml"]
    mail_backend = "django_smtp_ssl.SSLEmailBackend"
    mail_host = "smtp.exmail.qq.com"
    mail_port = 465
    mail_name = ""
    mail_password = ""
    secret_key = ""

[files."sentry.conf.py"]
    db_engine = "sentry.db.postgres"
    db_name = "sentry"
    db_user = "huhu"
    db_password = ""
    db_host = "127.0.0.1"
    db_port = 5432
    sentry_web_host = ""
    sentry_web_port = 9000
